body{
    color : white;
    background : orange;
}
.heading {
    width : 80%;
    font-size: 24px;
}
#camera
{
    border: 3px dashed darkgrey;
    width: 350px;
    height: 300px;
}
.name_of_persons, #result_object_name , #result_object_accuracy
{
    color : blueviolet
}